@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(0, 122, 204);
}

.nav {
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1035px;
    padding: 20px;
}

.nav__search-container {
    width: 50%;
}

.nav__search-input {
    border: 0;
    border-radius: 15px;
    height: 40px;
    padding: 10px 15px;
    width: 100%;
}

.nav__search-input:focus {
    outline: none;
}

body {
    background-color: rgb(220, 220, 220);
}

.body {
    display: flex;
    margin: 0 auto;
    max-width: 1035px;
}

.left-pane {
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 35vw;
    height: calc(100vh - 80px);
    padding: 10px;
}

.cart__list {
    overflow-y: auto;
}

.product-list {
    align-content: flex-start;
    align-items: flex-start;
    background-color: rgb(220, 220, 220);
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 80px);
    justify-content: flex-start;
    margin: 0 auto;
    width: 65vw;
    padding: 10px;
    position: relative;
}

.new-product-button {
    display: flex;
    justify-content: center;
    align-items: stretch;
    border-radius: 50%;
    outline: none;
    border: 0;
    cursor: pointer;
    height: 50px;
    margin: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50px;
    background-color: rgb(0, 122, 204);
    color: white;
    font-size: 40px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, .3);
}

.new-product-button:hover {
    background-color: rgb(0, 100, 167);
}

.product-list-item {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 20px;
    position: relative;
    width: 30.25%;
}

.product-list-item:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;    
}

.cart__item {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    margin: 10px 10px 20px;
    padding: 20px;
    position: relative;
}

.cart__item:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;    
}

.cart__item-info {
    display: flex;
    justify-content: space-between;
}

.cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.cart__total-price {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
}

.numpad {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.numpad__item {
    background-color: rgb(250, 250, 250);
    border: 0;
    border-radius: 10px;
    font-size: 30px;
    height: 50px;
    margin: 5px;
    width: 30%;
    outline: none;
}

.numpad__item:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

.numpad__item--double-span {
    flex-grow: 1;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-content {
    width: 500px;
}

.modal-header {
    border-radius: 25px 25px 0 0;
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

.modal-body {
    background-color: white;
    padding: 20px;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 25px 25px;
    background-color: rgb(240, 240, 240);
    padding: 20px;
    /* text-align: right; */
}

.button {
    background-color: white;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 20px;
}

.success {
    background-color: #28a745;
    color: white;
}

.danger {
    background-color: red;
    color: white;
}

.primary {
    background-color: #007bff;
    color: white;
}

.input {
    background-color: #bdddff;
    border: 0;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

.cart-item__delete,
.product-list-item__delete {
    background-color: rgb(230, 0, 0);
    border-radius: 50%;
    color: white;
    padding: 5px;
    height: 30px;
    width: 30px;
    position: absolute;
    right: -15px;
    top: -15px;
    text-align: center;
    line-height: 22px;
}

.cart-item__delete:hover,
.product-list-item__delete:hover {
    background-color: rgb(190, 0, 0);
}